body {
  background: white;
  color: #222;
  font-family: "Arial",sans-serif;
}


section {

}

h1 {

}

h2 {

}

a {
  text-decoration: none;
}

ul {
  list-style-type:none;
}

li {

}

div.wrapper {
  min-height: 100%;
  position: relative;
}

section.page-container {
  width: 980px;
  margin: 0 auto;
}

#top-header
{
  background-color: #eee;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  clear: none;
  display: block;
  float: right;
  margin: 0 15.8% 0 0;
  min-height: 2.5em;
  padding: 0;
  font-weight: normal;
  position: relative;
  text-align: center;
  width: 62%;
}

#left-aside {
  background: #f4f4f4;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  float: left;
  min-width: 10em;
  font-size: smaller;
  margin: 0;
  min-height: 820px;
  text-align: center;
  width: 20%;
}

#left-aside form {

}

#center-section {
  float: left;
  margin: 2%;
  padding: 0;
  width: 62%;
}

#right-aside {
  background: #f4f4f4;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  float: left;
  min-width: 10em;
  font-size: 70%;
  line-height: 1.43em;
  margin-top: -3.75em;
  min-height: 810px;
  padding: 5px 0;
  text-align: center;
  vertical-align: top;
  width: 11%;
}

#right-aside a {

}

#bottom-footer {
  border-top: 1px solid #ccc;
  line-height: 1.5em;
  min-height: 1.1em;
  background: #eee;
  padding: 5px;
  bottom: 0;
}

section.col-1 {
  float: left;
  padding: 0;
  width: 33%;
}

section.col-2 {
  float: left;
  padding: 0 4%;
  width: 37%;
}

section.col-3 {
  float: left;
  padding: 0;
  width: 22%;
}

section h2 {
  text-align: center;
  font-weight: bold;
  padding: 2px 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

.page-container:before, .page-container:after {
  content: " ";
  display: table;
  visibility: hidden;
}

.page-container:after {
  clear: both;
}

a:hover {

}

a:visited {

}

@media screen and (max-width: 450px) {
  body {
    background-color: lightgreen;
  }
  section.page-container {
    width: 400px;
  }
  section.col-1, section.col-2, section.col-3 {
    width: 100%;
  }
}
